[Unit]
Description=jzz
After=network.target

[Service]
ExecStart=/home/ubuntu/.local/bin/sanic run.app -H 0.0.0.0 -p 8110
Restart=always
User=%i
WorkingDirectory=/home/ubuntu/jzz/jzz-sanic

[Install]
WantedBy=default.target

